# This is the example configuration for vhost.
# Defining VOL variable or the file name will be used
# VOL=vntest2
# Define VNETID and subnet 192.168.$VNETID.{0,1} will be
# created for communicating with chroot environment
# VNETID=12
